@import '../../../../assets/scss/_constants';

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    padding: 0;
    &.hidden {
        display: none;
    }
}
.date_time {
    padding-top: 10px;
    font-family: Roboto-Light, tahoma, sans-serif;
    font-size: 1.5rem;
    & span {
        margin-right: 1rem;
    }
}
.date_temp {
    display: flex;
    flex-direction: column;
}
.desc {
    width: 40%;
    .desc_img {
        .image {
            display: block;
            margin: 0 auto;
            margin-top: -2rem;
            height: 120%;
        }
    }
    .desc_text {
        margin-top: -10px;
        height: 60%;
        font-size: 1.4rem;
        font-family: Roboto-Light, tahoma, sans-serif;
        p {
            margin: 6px 0;
        }
        .weather_desc {
            font-size: 1.8rem;
            text-transform: uppercase;
            font-family: Roboto-Regular, tahoma, sans-serif;
            color: $colorized-text;
        }
    }
}

@media (max-width: 920px ) {
    .desc {
        .desc_text {
            font-size: 1.2rem;
            .weather_desc {
                font-size: 1.6rem;
            }
        }
    }
}

@media (max-width: 700px ) {
    .desc {
        justify-content: center;
        display: flex;
        flex-direction: row-reverse;
        width: 50%;
        .desc_img {
            width: 40%;
        }
    }
    .body {
        justify-content: space-evenly;
    }
}

@media (max-width: 450px ) {
    .body {
        flex-direction: column;
    }
    .date_temp {
        align-items: center;
        width: 100%;
    }
    .desc {
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
        .desc_img {
            text-align: center;
            .image {
                margin-top: -6rem;
            }
        }
    }
    .desc_text {
        margin-top: 2rem;
    }
}