@import '../../../../assets/scss/_constants';

.body {
    display: flex;
    height: 55%;
    padding: 0;
    &.hidden {
        display: none;
    }
    @media (max-width: 550px ) {
        flex-direction: column;
    }
}
.temp_dimension {
    display: flex;
    flex-direction: column;
    width: 25%;
    .degree {
        text-align: left;
        font-size: 20rem;
        line-height: 20rem;
        color: $colorized-text;
    }
    .degree_dimension {
        display: block;
        text-align: center;
        margin-top: -11rem;
        font-size: 8rem;
    }
}
.date_time {
    padding-top: 10px;
    font-family: Roboto-Light, tahoma, sans-serif;
    font-size: 1.6rem;
    & span {
        margin-right: 1rem;
    }
}
.date_temp {
    display: flex;
    flex-direction: column;
    width: 75%;
    @media (max-width: 550px ) {
        align-items: center;
        width: 100%;
    }
    .temp {
        display: flex;
        justify-content: center;
        .temp_data {
            font-size: 20rem;
            line-height: 20rem;
            letter-spacing: -2rem;
            color: $colorized-text;
        }
    }    
}

.desc {
    margin-top: 2rem;
    width: 40%;
    @media (max-width: 550px ) {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }
    .desc_img {
        height: 40%;
        @media (max-width: 550px ) {
            height: 180px;
            text-align: center;
        }
        .image {
            display: block;
            margin: 0 auto;
            margin-top: -3rem;
            height: 120%;
            @media (max-width: 550px ) {
                margin-top: -6rem;
            }
        }
    }
    .desc_text {
        height: 60%;
        font-size: 1.4rem;
        font-family: Roboto-Light, tahoma, sans-serif;
        @media (max-width: 550px ) {
            margin-top: 2rem;
        }
        p {
            margin: 6px 0;
        }
        .weather_desc {
            font-size: 1.8rem;
            text-transform: uppercase;
            font-family: Roboto-Regular, tahoma, sans-serif;
            color: $colorized-text;
        }
    }
}
