@import '../../../assets/scss/constants';

.button {
    display: block;
    height: 4rem;
    width: 4rem;
    background-color: $primary-gray;
    border: none;
    cursor: pointer;
    color: $main-text-color;
    font-family: Roboto-Light, tahoma, sans-serif;
    font-size: 1.4rem;
    margin-right: 5px;
    &:focus, &:hover { 
        outline: none;
    }
    &:hover {
        background-color: $primary-gray-active !important;
        color:  rgba(41, 41, 41, 1);
    }
}
.regular {
    border-radius: 5px;
}
.type_1001 {
    border-radius: 5px 0 0 5px;
    margin-right: 0;
}
.type_0110 {
    margin-left: 0;
    border-radius: 0 5px 5px 0;
}
.active {
    color: $button-active-color;
    background-color: $button-active-background;
    cursor: default;
    &:hover {
        color: $button-active-color;
        background-color: $button-active-background !important;
    }
}
.disabled {
    cursor: default;
    &:hover {
        color: $button-active-color;
        background-color: $button-active-background !important;
    }
}

.button-update {
    position: relative;
    background-image: url('../../../assets/images/upd-bg.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 80%;
    &:hover {
        background-image: url('../../../assets/images/upd-icon1.png');
        background-size: 60%;
        background-position: center center;
    }
    &.active {
        background-image: none;
    }
}
.button-search {
    width: 9rem;
}
.speaker {
    background-image: url('../../../assets/images/speaker.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    outline: none;
    &.active {
      background-image: url('../../../assets/images/speaker-active.png');
    }
  }