@import '../../../assets/scss/constants';
@import '../../../assets/scss/buttons';

.block {
    // height: 80%;
        .form {
            display: flex;
            position: relative;
            .input {
                padding: 0 24px 0 10px;
                width: 300px;
                height: 4rem;
                color: $main-text-color;
                border-radius: 6px 0 0 6px;
                border: 1.4px solid rgba(180,184,187,.8);
                outline: none;
                background-color: $secondary-gray;
                font-family: Roboto-Light, tahoma, sans-serif;
                font-size: 1.5rem;
                line-height: 1.5rem;
                text-transform: uppercase;
                &::placeholder {
                    color: $main-text-color;
                    text-transform: lowercase;
                }
                
            }
 
    @media (max-width: 720px ) {
        width: 10vw;
    }
    @media (max-width: 550px ) {
        width: 55px;
    }
    .button_mic {
        padding: 0;
        position: absolute;
        right: 100px;
        width: 20px;
        height: 40px;
        background-color: rgba(0,0,0,0);
        border: none;
        background-image: url('/assets/images/mic.png');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 100%;
        outline: none;
        cursor: pointer;
        &.active {
            background-image: url('/assets/images/mic-active.png');
        }
    }
    }
}