@import '../../../src/assets/scss/_constants';

.button {
    display: block;
    height: 4rem;
    width: 4rem;
    background-color: $primary-gray;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: $main-text-color;
    font-family: Roboto-Light, tahoma, sans-serif;
    font-size: 1.4rem;
    &:focus, &:hover { 
        outline: none;
    }
    &:hover {
        background-color: $primary-gray-active !important;
        color: gray;
    }
}
.button.button-lang {
    width: 7rem;
}
.button#button-f {
    border-radius: 5px 0 0 5px;
    margin-right: 0;
}
.button#button-c {
    margin-left: 0;
    border-radius: 0 5px 5px 0;
}
.button#speaker {
    margin-left: 5px;
}
