$primary-gray: rgba(180,184,187,.7);
$primary-gray-active: rgba(224, 224, 224, 0.7);
$secondary-gray: rgba(94, 94, 94, 0.7);
$button-border-color: rgba(255, 160, 122, 0.63);
$button-active-color: rgba(166, 168, 170, 0.7);
$button-active-background:  rgba(94,94,94,.9);
$main-text-color: #ebebeb;
$colorized-text: #ffe490;