@import '/_buttons';
@import '/constants';
@import '../../components/setRSS/_rss';
@import '../../components/weatherCard/_weatherCard';
@import '../../components/getMap/_map';

@font-face {
    font-family: Roboto-Regular;
    src: url('/assets/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: Roboto-Light;
    src: url('/assets/fonts/Roboto-Light.ttf');
}

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}
html {
    font-size: 10px;
}
* {
    box-sizing: border-box;
}
body { 
  font-family: Roboto-Regular, tahoma, sans-serif;
  background: linear-gradient(rgba(8, 15, 26, 0.59) 0%, rgba(17, 17, 46, 0.46) 100%) center center / cover fixed,url('https://images.unsplash.com/photo-1563823856120-88d1fe6b75bc?ixlib=rb-1.2.1&q=99&fm=jpg&crop=entropy&cs=tinysrgb&w=2048&fit=max&ixid=eyJhcHBfaWQiOjcwOTV9') center center / cover no-repeat fixed;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 10em white inset !important;
  -webkit-text-fill-color: yellow !important;
}
h1 {
    margin: 0 auto;
    padding: 40px;
    color: rgb(22, 138, 233);
}
.wrapper{
  width: 100vw;
    padding: 0 60px;
    min-height: calc(100vh - 3rem);
    overflow: hidden;
    @media (max-width: 620px ) {
      padding: 0 7vw;
   }
}

.administration-block {
    display: flex;
    padding: 40px 0 60px;
    height: 100%;
    justify-content: space-between;
    #speaker {
      background-image: url('/assets/img/speaker.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 60%;
      outline: none;
      &.active {
        background-image: url('/assets/img/speaker-active.png');
      }
    }
    @media (max-width: 980px ) {
      padding: 60px 0 60px;
   }
    @media (max-width: 480px ) {
      flex-direction: column;
      align-items: center;
   }

    .settings-block {
        display: flex;
        height: 40px;
    }
    .find-block {
        .search-form {
            display: flex;
            position: relative;
            input {
                padding: 0 24px 0 10px;
                width: 300px;
                height: 4rem;
                color: $main-text-color;
                border-radius: 6px 0 0 6px;
                border: 1.4px solid rgba(180,184,187,.7);
                outline: none;
                background-color: $secondary-gray;
                font-family: Roboto-Light, tahoma, sans-serif;
                font-size: 1.5rem;
                line-height: 1.5rem;
                text-transform: uppercase;
                &::placeholder {
                    color: $main-text-color;
                    text-transform: lowercase;
                }
                @media (max-width: 720px ) {
                  width: 30vw;
               }
               @media (max-width: 480px ) {
                width: 190px;
             }
                
            }
            #button-voice {
                padding: 0;
                position: absolute;
                right: 95px;
                width: 20px;
                height: 40px;
                background-color: transparent;
                border: none;
                background-image: url('/assets/img/mic.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                outline: none;
                cursor: pointer;
                &.active {
                  background-image: url('/assets/img/mic-active.png');
                }
                @media (max-width: 720px ) {
                  right: 10vw;
               }
               @media (max-width: 550px ) {
                right: 60px;
            }
            }
        }
        @media (max-width: 480px ) {
          margin-top: 1rem;
       }
    }
    .button-update, .button-lang {
        margin-right: 5px;

    }
    .button-update {
        position: relative;
        padding: 3px 3px 0;
        background-image: url('/assets/img/upd-bg1.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 80%;
    }
    #spinner {
        position: absolute;
        height: 15px;
        width: 15px;
        top: 3px;
        right: 3px;
        background-image: url('/assets/img/upd-icon.png');
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 100%;
        &.active {
            animation-name: rotation;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            @keyframes rotation {
                0% {
                    transform:rotate(0deg);
                }
                100% {
                    transform:rotate(-360deg);
                }
            }
        }

    }
    #temp-choice {
      display: flex;
    }
    #button-f, #button-c {
      color: rgba(166, 168, 170, 0.7);
      background-color: $secondary-gray;
      &.active {
        color: $main-text-color;
        background-color: $primary-gray;
      }
    }
}

.main-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 980px ) {
      flex-direction: column;
  }

}
.weather-mask {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110%;
    background-color: transparent;
    .lds-spinner {
        margin-top: -10%;
        color: $main-text-color;
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
        .lds-spinner div {
            transform-origin: 40px 40px;
            animation: lds-spinner 1.2s linear infinite;
    }
        .lds-spinner div:after {
            content: " ";
            display: block;
            position: absolute;
            top: 3px;
            left: 37px;
            width: 6px;
            height: 18px;
            border-radius: 20%;
            background: $colorised-text;;
        }
        .lds-spinner div:nth-child(1) {
            transform: rotate(0deg);
            animation-delay: -1.1s;
        }
      .lds-spinner div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
      }
      .lds-spinner div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
      }
      .lds-spinner div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
      }
      .lds-spinner div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
      }
      .lds-spinner div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
      }
      .lds-spinner div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
      }
      .lds-spinner div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4s;
      }
      .lds-spinner div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
      }
      .lds-spinner div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
      }
      .lds-spinner div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
      }
      .lds-spinner div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
      }
      @keyframes lds-spinner {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      &.active{
          display: flex;
      }
      &.map {
        display: flex;
      }
}
