@import '../../../assets/scss/_constants';
.block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.map_area {
    height: 400px;
    width: 400px;
    background-color: rgba(0,0,0,.5);
    -webkit-mask-size: cover;
    mask-image: url('../../../assets/images/mapMask.png');
}
.map {
    width: 400px;
    height: 400px;
}
.geolocation_area {
    display: flex;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    @media (max-width: 420px ) {
        width: 60vw;
     }

    .coordinates {
        color: $main-text-color;
        width: 100%;
        text-align: right;
        font-size: 1.5rem;
        margin: 1rem;
        p {
            font-family: Roboto-Light, tahoma, sans-serif;
            margin: 0 2rem;
        }
    }
}