@import '../../../assets/scss/_constants';
.block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.map_area {
    height: 400px;
    width: 400px;
    background-color: rgba(0,0,0,.5);
    -webkit-mask-size: cover;
    mask-image: url('../../../assets/images/mapMask.png');
}
.map {
    width: 400px;
    height: 400px;
    &:only-child {
        height: 107% !important;
    }
}
.geolocation_area {
    display: flex;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    .coordinates {
        color: $main-text-color;
        width: 100%;
        text-align: right;
        font-size: 1.6rem;
        margin: 1rem;
        p {
            font-family: Roboto-Light, tahoma, sans-serif;
            margin: 0 2rem;
        }
    }
}

@media (max-width: 1050px ) {
    .block {
        padding-top: 50px;
    }
    .map_area {
        height: 350px;
        width: 350px;
    }
    .map {
        width: 350px;
    }
}

@media (max-width: 900px ) {
    .block {
        width: 350px;
    }
    .map_area {
        height: 300px;
        width: 300px;
    }
    .map {
        width: 300px;
    }
}

@media (max-width: 750px) {
    .block {
        width: 300px;
        padding-top: 30px;
    }
    .map_area {
        height: 250px;
        width: 250px;
    }
    .map {
        width: 250px;
    }
}

@media (max-width: 700px ) {
    .block {
        width: 400px;
        padding-top: 30px;
    }
    .map_area {
        height: 400px;
        width: 400px;
    }
    .map {
        width: 400px;
    }
}

@media (max-width: 450px) {
    .block {
        width: 250px;
        padding-top: 30px;
    }
    .map_area {
        height: 250px;
        width: 250px;
    }
    .map {
        width: 250px;
    }
}